Python program to interchange first and last elements in a list

In [1]:
l = [12, 35, 9, 56, 24]
def swapnlist(listname):
    temp = l[0]
    l[0] = l[len(l)-1]
    l[len(l)-1] = temp
    return l
print(swapnlist(l))

[24, 35, 9, 56, 12]

Python Program to Swap Two Elements in a List

In [4]:
l = [23, 65, 19, 90, 70, 66, 98,74,444]

print(l)

p1,p2=1,2

l[p1],l[p2] = l[p2],l[p1]

print(l)

[23, 65, 19, 90, 70, 66, 98, 74, 444]
[23, 19, 65, 90, 70, 66, 98, 74, 444]

In [6]:
l = [23, 65, 19, 90, 70, 66, 98,74,444]
print(l)
p1,p2=4,5
l[p1],l[p2]=l[p2],l[p1]
print(l)

[23, 65, 19, 90, 70, 66, 98, 74, 444]
[23, 65, 19, 90, 66, 70, 98, 74, 444]

In [10]:
l = [23, 65, 19, 90, 70, 66, 98,74,444]
print(l)
p1,p2 = 7,8
l[p1],l[p2]=l[p2],l[p1]
print(l)

[23, 65, 19, 90, 70, 66, 98, 74, 444]
[23, 65, 19, 90, 70, 66, 98, 444, 74]

In [11]:
l = [23, 65, 19, 90, 70, 66, 98,74,444]
len(l)

9

Find Maximum of two numbers in Python

In [13]:
a=45
b=67

if a>b:
    print('a is maximum')
if b>a:
    print('b is maximum')

b is maximum

In [14]:
def maximum(a,b):
    if a>b:
        return('a is maximum')
    if b>a:
        return('b is maximum')
a = 67
b = 89

maximum(a,b)

'b is maximum'

In [15]:
a = 99
b = 77
if a<b:
    print('a is small')
if b<a:
    print('b is small')

b is small

In [16]:
def smallestnumber(a,b):
    if a<b:
        return('a is small')
    if b<a:
        return('b is small')
a=8
b=78
smallestnumber(a,b)

'a is small'

Check if element exists in list in Python

In [1]:
l = [23, 65, 19, 90, 70, 66, 98,74,444]
for i in l:
    if i==65:
        print('element is present in list')
    else:
        print('print element is not in list')

print element is not in list
element is present in list
print element is not in list
print element is not in list
print element is not in list
print element is not in list
print element is not in list
print element is not in list
print element is not in list

In [23]:
l = [23, 65, 19, 90, 70, 66, 98,74,444]
for i in l:
 if i == 29:
    print('element present in a list')
 else:
    print('element is not present in list')

element is not present in list
element is not present in list
element is not present in list
element is not present in list
element is not present in list
element is not present in list
element is not present in list
element is not present in list
element is not present in list

In [26]:
l = [23, 65, 19, 90, 70, 66, 98,74,444]
print(l.clear())

None

Reversing a List in Python

In [33]:
l = [23, 65, 19, 90, 70, 66, 98,74,444]
l.reverse()
print(l)

[444, 74, 98, 66, 70, 90, 19, 65, 23]

In [34]:
l = [23, 65, 19, 90, 70, 66, 98,74,444]
l[::-1]

[444, 74, 98, 66, 70, 90, 19, 65, 23]

In [38]:
l = [15, 6, 7, 10, 12, 20, 10, 28, 10]
c = 0
for i in l:
    if i == 10:
        c = c+1
print(c)

3

Find sum and average of List in Python

In [39]:
l = [4, 5, 1, 2, 9, 7, 10, 8]
c = 0
for i in l:
    c = c + i
    avg = c/len(l)
print('sum of list: ',c)
print('avg of list: ',avg)

sum of list:  46
avg of list:  5.75

In [40]:
l = [15, 6, 7, 10, 12, 20, 10, 28, 10]
def findaverage(list):
    c = 0
    for i in l:
        c = c + i
        avg = c/len(list)
print(avg)

findaverage(l)

5.75

Multiply all numbers in the list

In [42]:
l = [15, 6, 7, 10, 12, 20, 10, 28, 10]
r = 1
for i in l:
    r = r * i
print(r)

4233600000

In [44]:
l = [15, 6 ]
def multiplication(list):
    r = 1
    for i in l:
        r = r * i
    return(r)
multiplication(l)

90

Python program to find smallest number in a list

In [45]:
l = [15, 6, 7, 10, 12, 20, 10, 28, 10]
l.sort()
print('smallest number in list: ',l[0])

smallest number in list:  6

In [49]:
l = [15, 6, 7, 10, 12, 20, 10, 28, 10]
min1 = l[0]
for i in range(0,len(l)):
    if l[i]<min1:
        min1 = l[i]
print(min1)

6

In [51]:
l = [8,9,67,65,45,1,2]
m = l[0]
for i in range(0,len(l)):
    if l[i]<m:
        m = l[i]
print(m)

1

Python Program to Find Largest Number in a List

In [53]:
l = [15, 6, 7, 10, 12, 20, 10, 28, 10]
max = l[0]
for i in l:
    if i > max:
        max = i
print(max)

28

In [54]:
l = [8,9,67,65,45,1,2]
def maximum(list):
    max = l[0]
    for i in l:
        if i>max:
            max = i
    return(max)
maximum(l)

67

In [55]:
l = [15, 6, 7, 10, 12, 20, 10, 28, 10]
l.sort()
print('maximum number is: ',l[-1])

maximum number is:  28

In [56]:
l = [8,9,67,65,45,1,2]
l.sort()
print('second largest number in the list is: ',l[-2])

second largest number in the list is:  65

In [63]:
l = [8,9,67,65,45,1,2]
l1 = []
for i in l:
    if i%2 == 0:
       print(i)

8
2

Python program to print even numbers in a list

In [7]:
l = [8,9,67,65,45,1,2]
l2 = []
for i in l:
    if i%2 == 0:
        l2.append(i)
print(l2)

[8, 2]

Python program to print all odd numbers in a range

In [10]:
l = [8,9,67,65,45,1,2]
l2 = []
for i in l:
    if i%2 !=0:
       l2.append(i)
print(l2)

[9, 67, 65, 45, 1]

sort odd and even number

In [11]:
l = [8,9,67,65,45,1,2]
l1 = []
l2 = []
for i in l:
    if i%2==0:
        l1.append(i)
    if i%2 !=0:
        l2.append(i)
print(l1)
print(l2)

[8, 2]
[9, 67, 65, 45, 1]

Python program to count Even and Odd numbers in a List

In [13]:
l = [8,9,67,65,45,1,2]
c_e = 0
c_o = 0
for i in l:
    if i%2==0:
        c_e=c_e+1
    if i%2 !=0:
        c_o=c_o+1
print(c_e)
print(c_o)

2
5

Python program to print all positive numbers in a range

In [14]:
for i in range(-4,5):
    if i>0:
        print(i)

1
2
3
4

Remove empty tuples from a list

In [16]:
t = [(), ('ram','15','8'), (), ('laxman', 'sita'),('krishna', 'akbar', '45'), ('',''),()]
for i in t:
    if len(i)==0:
        t.remove(i)
print(t)

[('ram', '15', '8'), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('', '')]

Program to print duplicates from a list of integers

In [19]:
l = [10, 20, 30, 20, 20, 30, 40, 50, -20, 60, 60, -20, -20]
u = []
d = []
for i in l:
    if i not in u:
        u.append(i)
    elif i not in d:
        d.append(i)
print(u)
print(d)

[10, 20, 30, 40, 50, -20, 60]
[20, 30, 60, -20]

In [2]:
l = [97,8,9,10,10,97,88,77,4,4,5,77,88]
dup = []
uni = []
for i in l:
    if i not in dup:
        dup.append(i)
    elif i not in uni:
        uni.append(i)
print(dup)
print(uni)

[97, 8, 9, 10, 88, 77, 4, 5]
[10, 97, 4, 77, 88]

Python program to Remove the last element from list

In [3]:
l = [13, 34, 36, 23, 15, 88]
del l[-1]
l

[13, 34, 36, 23, 15]

Divide all Elements of a List by a Number in Python

In [6]:
l = [14, 8, 0, 12, 981, 21, -99]
n = int(input("enter the number: ",))
for i in l:
    if i%n == 0:
        print(i)

enter the number: 7
14
0
21

Find index of maximum item in list

In [11]:
l = [14, 8, 0, 12, 981, 21, -99]
index = 0
max_element = l[0]
for i in range(0,len(l)):
    if l[i] > max_element:
        max_element=l[i]
        index = i
        print(index)

4

In [12]:
l = [14, 8, 0, 12, 981, 21, -99]
m = max(l)
print(l.index(m))

4

In [3]:
l = [97, 8, 9, 10, 88, 77, 4, 5]
print(max(l))

97

In [19]:
l = [97, 8, 9, 10, 88, 77, 4, 5]
ind = 0
max_e = l[0]
for i in range(0,len(l)):
    if l[i]>max_e:
        max_e = l[i]
        ind = i
print(ind)

0

In [21]:
l = [8,9,67,65,45,1,2]
ind = 0
max_i = l[0]
for i in range(0,len(l)):
    if l[i]>max_i:
        max_i=l[i]
        ind = i
print(ind)

2

In [22]:
l = [8,9,67,65,45,1,2]
l.index(max(l))

2

In [5]:
l = [12, 33, 10, 20, 25]
n = int(input("enter the number: "))
for i in l:
    if i<n:
           print(l)

enter the number: 21
[12, 33, 10, 20, 25]
[12, 33, 10, 20, 25]
[12, 33, 10, 20, 25]

Python Program to get Maximum product of elements of list in a 2D list

In [8]:

m = 0
p = 1
for i in l:
    p = p * i[2]
print(p)

162

Python Program to Square Each Odd Number in a List using List Comprehension

In [16]:
l=[1,2,3,4,5,6,7]
for i in l:
    if i%2!=0:
        i = i*i
    print(i)

1
2
9
4
25
6
49

Remove common elements from two list in Python

In [3]:
l1 = [1, 2, 3, 4, 5]  
l2 = [4, 5, 6, 7, 8,]
l3 = []
for i in l1:
    for j in l2:
        if i==j:
            l3.append(i)
print(l3)

[4, 5]

 Remove empty List from List

In [2]:
l = [5, 6, [], 3, [], [], 9]
res = []
for i in l:
    if i != []:
        res.append(i)
print(res)

[5, 6, 3, 9]

How to count unique values inside a list

In [2]:
l = [1, 2, 2, 5, 8, 4, 4, 8]
l1 = []
c = 0
for i in l:
    if i not in l1:
        c = c + 1
        l1.append(i)
print(l1)
print(c)

[1, 2, 5, 8, 4]
5

List product excluding duplicates

In [13]:
l =[1, 3, 5, 6, 3, 5, 6, 1]
l1 = []
for i in l:
    if i not in l1:
        l1.append(i)
print(l1)
res = 1
for ele in l1:
    res = res * ele
print(res)

[1, 3, 5, 6]
90

Convert List to List of dictionaries

In [9]:
l = ["Gfg", 3, "is", 8, "Best", 10, "for", 18, "Geeks", 33]

k_l = ['name','number']
res = []
for i in range(0,len(l),2):
    res.append({k_l[0]: l[i],k_l[1]: l[i+1]})
print(res)

[{'name': 'Gfg', 'number': 3}, {'name': 'is', 'number': 8}, {'name': 'Best', 'number': 10}, {'name': 'for', 'number': 18}, {'name': 'Geeks', 'number': 33}]

 Convert Lists of List to Dictionary

In [11]:
test_list = [['a', 'b', 1, 2], ['c', 'd', 3, 4], ['e', 'f', 5, 6]]

 Uncommon elements in Lists of List

In [12]:
l1 = [ [1, 2], [3, 4], [5, 6] ]
l2 = [ [3, 4], [5, 7], [1, 2] ]
res = []
for i in l1:
    if i not in l2:
        res.append(i)
for j in l2:
    if j not in l1:
        res.append(j)
print(res)

[[5, 6], [5, 7]]

 Reverse Row sort in Lists of List

In [14]:
l = [[4, 1, 6], [7, 8], [4, 10, 8]]
for i in l:
    i.sort(reverse = True)
print(l)

[[6, 4, 1], [8, 7], [10, 8, 4]]

In [16]:
l = [[4, 1, 6], [7, 8], [4, 10, 8]]
for i in l:
    i.sort(reverse=False)
print(l)

[[1, 4, 6], [7, 8], [4, 8, 10]]

Pair elements with Rear element in Matrix Row

In [17]:
test_list = [[4, 5, 6], [2, 4, 5], [6, 7, 5]]

How to count unique values inside a list

In [20]:
l = [1, 2, 2, 5, 8, 4, 4, 8]
c = 0
l1 = []
for i in l:
    if i not in l1:
        l1.append(i)
        c = c + 1
print(c)
print(l1)

5
[1, 2, 5, 8, 4]

In [23]:
l = [1,7,7,88,3,4,23,23,5,6,7,3,4,6]
l1 = []
c = 0
for i in l:
    if i not in l1:
        l1.append(i)
        c = c + 1
print(l1)
print(c)

[1, 7, 88, 3, 4, 23, 5, 6]
8

In [26]:
l = [5,7,8,4,6,3,45,6,7,8,3,46,78,45]
l1 = []
c = 0
for i in l:
    if i not in l1:
        l1.append(i)
        c = c + 1
print(l1)
print(c)

[5, 7, 8, 4, 6, 3, 45, 46, 78]
9

List product excluding duplicates

In [41]:
l = [1, 3, 5, 6, 3, 5, 6, 1]

l1 = []
for i in l:
    if i not in l1:
        l1.append(i)
   
print(l1)

prod = 1

for j in l1:
    prod = prod * j
print(prod)

[1, 3, 5, 6]
90

In [42]:
l = [5,7,8,4,6,3,45,6,7,8,3,46,78,45]
l1 = []
for i in l:
    if i not in l1:
        l1.append(i)
print(l1)
prod = 1
for j in l1:
    prod = prod *  j
print(prod)

[5, 7, 8, 4, 6, 3, 45, 46, 78]
3255033600

Python program to check if the list contains three consecutive common numbers in Python

In [2]:
l = [4, 5, 5, 5, 3, 8]
for i in range(0,len(l)-2):
    if l[i]==l[i+1] and l[i+1]==l[i+2]:
        print(l[i])

5

In [58]:
l = [1, 1, 1, 64, 23, 64, 22, 22, 22]
s = len(l)
for i in range(0,s - 2):
    if l[i]==l[i+1] and l[i+1]==l[i+2]:
        print(l[i])

1
22

Python Program to print all Possible Combinations from the three Digits

In [65]:
def comb(l):
    for i in range(0,3):
        for j in range(0,3):
            for k in range(0,3):
                if (i!=j and j!=k and i!=k):
                    print(l[i],l[j],l[k])
      
comb([1,2,3])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

In [66]:
def co(L):
    for i in range(0,5):
        for j in range(0,5):
            for k in range(0,5):
                if (i!=j and j!=k and i!=k):
                    print(L[i],L[j],L[k])
co([1,2,3,4,5])

1 2 3
1 2 4
1 2 5
1 3 2
1 3 4
1 3 5
1 4 2
1 4 3
1 4 5
1 5 2
1 5 3
1 5 4
2 1 3
2 1 4
2 1 5
2 3 1
2 3 4
2 3 5
2 4 1
2 4 3
2 4 5
2 5 1
2 5 3
2 5 4
3 1 2
3 1 4
3 1 5
3 2 1
3 2 4
3 2 5
3 4 1
3 4 2
3 4 5
3 5 1
3 5 2
3 5 4
4 1 2
4 1 3
4 1 5
4 2 1
4 2 3
4 2 5
4 3 1
4 3 2
4 3 5
4 5 1
4 5 2
4 5 3
5 1 2
5 1 3
5 1 4
5 2 1
5 2 3
5 2 4
5 3 1
5 3 2
5 3 4
5 4 1
5 4 2
5 4 3

User will input (3ages).Find the oldest one

In [67]:
a = int(input("enter the number: "))
b = int(input("enter the number: "))
c = int(input("enter the number"))
if a>b and a>c:
    print("a is greater")
if b>a and b>c:
    print("b is greater")
if c>a and c>b:
    print("c is greater")

enter the number: 45
enter the number: 7
enter the number4
a is greater

Write a program that will convert celsius value to fahrenheit

In [69]:
t = int(input("enter the temp in fahrenheit: "))
f = (t*1.8)+32
print(f)

enter the temp in fahrenheit: 56
132.8

User will input (2numbers).Write a program to swap the numbers

In [71]:
a = int(input("enter the number: "))
b = int(input("enter the number: "))
temp = a
a = b
b= temp
print("the value of a is",a)
print("the value of b is",b)

enter the number: 56
enter the number: 67
the value of a is 67
the value of b is 56

Write a program that will give you the sum of 3 digits

In [74]:
user_input = int(input("enter the number: "))
n = user_input
a = n%10
n = n//10
b = n%10
c = n//10
t = a+b+c
print("sum of three digit number is",t)

enter the number: 567
sum of three digit number is 18

Write a program that will reverse a four digit number.Also it checks 
whether the reverse is true

In [76]:
user_input = int(input("enter the four digit number: "))
n = user_input
a = n%10
n = n//10
b = n%10
n = n//10
c = n%10
d = n//10
rev = 1000*a+100*b+10*c+d
print("original number:",user_input)
print("reversed number:",rev)

enter the four digit number: 8765
original number: 8765
reversed number: 5678

Write a program that will tell whether the number entered by the 
user is odd or even

In [80]:
n = int(input("enter the number: "))
if n % 2 ==0:
    print("number is even")
if n % 2 !=0:
    print("the number is odd")

enter the number: 89
the number is odd

Write a program that will tell whether the given year is a leap year 
or not

In [89]:
year = int(input("enter the year: "))
if year % 4 == 0:
    print("leap year")
elif year % 100 == 0 and year % 400 == 0:
    print("leap year")
else:
    print("not leap year")

enter the year: 2023
not leap year

Write a program to find the euclidean distance between two 
coordinates.

In [94]:
x1 = int(input("enter x1 coordinate: "))
x2 = int(input("enter the x2 coordinate: "))
y1 = int(input("enter the y1 coordinate: "))
y2 = int(input("enter the y2 coordinate: "))

E = ((x2-x1)**2-(y2-y1)**2)**1/2
print(E)

enter x1 coordinate: 45
enter the x2 coordinate: 5
enter the y1 coordinate: 6
enter the y2 coordinate: 3
795.5

Write a program that take a user inputr of three angles and will 
find out whether it can form a triangle or not.

In [97]:
a = int(input("enter the first angle: "))
b = int(input("enter the second angle: "))
c = int(input("enter the third angle: "))
if (a + b + c) ==180:
    print("its triangle")
else:
    print("not a triangle")

enter the first angle: 65
enter the second angle: 65
enter the third angle: 50
its triangle

Write a program that will take user input of cost price and selling 
price and determines whether its a loss or a profit

In [99]:
c_p = int(input("enter the number: "))
s_p = int(input("enter the number: "))
if c_p<s_p:
    print("profit")
else:
    print("loss")

enter the number: 70
enter the number: 65
loss

Write a program to find the simple interest when the value of 
principle,rate of interest and time period is given.

In [1]:
p = int(input("enter the value of principle: "))
r =  int(input("enter the interest rate: "))
t = int(input("enter the time period: "))
simple_interest = p*r*t/100
print("simple interest: ",simple_interest)

enter the value of principle: 1000
enter the interest rate: 8
enter the time period: 5
simple interest:  400.0

Write a program to find the volume of the cylinder. Also find the 
cost when ,when the cost of 1litre milk is 40Rs.

In [3]:
r = int(input("enter the radius of cylinder: "))
h = int(input("enter the height of cylinder: "))
v_c = 3.14 * (r**2) * h
print("volume of cylinder is: ",v_c)
cost = (v_c%1000)*40
print("cost: ",cost)

enter the radius of cylinder: 60
enter the height of cylinder: 130
volume of cylinder is:  1469520.0
cost:  20800.0

. Write a program that will tell whether the given number is divisible 
by 3 & 6

In [5]:
n = int(input("enter the number: "))
if n%3 == 0 and n%6 == 0:
    print("number is divisible by 3 and 6")
else:
    print("not divisible by 3 and 6")

enter the number: 9
not divisible by 3 and 6

Write a program that will determine weather when the value of 
temperature and humidity is provided by the user.
TEMPERATURE(C) HUMIDITY(%) WEATHER
 >= 30 >=90 Hot and Humid
 >= 30 < 90 Hot
 <30 >= 90 Cool and Humid
 <30 <90 Cool

In [6]:
t = int(input("enter the temp in c: "))
h = int(input("enter the humidity in %: "))
if t>=30 and h>=90:
    print("weather is hot and humid")
if t>=30 and h<90:
    print("weather is hot")
if t<30 and h>=90:
    print("weather is cool and humid")
if t<30 and h<30:
    print("weather is cool")

enter the temp in c: 76
enter the humidity in %: 90
weather is hot and humid

Write a program that will take three digits from the user and add 
the square of each digit

In [2]:
n = int(input("enter the number: "))
a = n%10
n = n//10
b = n%10
c = n//10
s = (a**2)+(b**2)+(c**2)
print(s)

enter the number: 416
53

 Write a program that will check whether the number is armstrong 
number or not

In [8]:
user_input = int(input("enter the number: "))
n = user_input
a = n%10
n = n//10
b = n%10
c = n//10
s = (a**3)+(b**3)+(c**3)
print(s)
if user_input == s:
    print("given number is armstrong number")
else:
    print("not armstrong number")

enter the number: 408
576
not armstrong number

Write a program that will take user input of (4 digits number) and 
check whether the number is narcissist number or not

In [11]:
user_input = int(input("enter the four digit number: "))
n = user_input
a = n%10
n = n//10
b = n%10
n = n//10
c = n%10
d = n//10
s = (a**4)+(b**4)+(c**4)+(d**4)
print(s)
if user_input == s:
    print("number is narcissist")
else:
    print("not narcissist")

enter the four digit number: 1515
1252
not narcissist

Write a program that will give you the in hand salary after 
deduction of HRA(10%),DA(5%),PF(3%), and tax(if salary is between 
5-10 lakh–10%),(11-20lakh–20%),(20< _ – 30%)(0-1lakh print k).

In [9]:
s = int(input("enter the salary amount: "))
t_s = s - (((10+5+3)/100)*s)
if s>500000 and s<1000000:
    print(t_s - (10/100)*s)
if s>1100000 and s<2000000:
    print(t_s - (20/100)*s)
if s>2000000:
    print(t_s - (30/100)*s)

enter the salary amount: 1500000
930000.0

Write a menu driven program - 1.cm to ft 2.kl to miles 3.usd to inr 
4.exit

In [10]:
cm_f = 1/30.48
kl_m = 2/1.609
usd_in = 245.97*4
print(cm_f)
print(kl_m)
print(usd_in)

0.03280839895013123
1.2430080795525171
983.88

Write a program that will tell the number of dogs and 
chicken are there when the user will provide the value of total 
heads and legs.

In [12]:
h = int(input("enter the number of heads: "))
l = int(input("enter the number of legs: "))
if h == 1 and l == 2:
    print("chicken")
elif h == 1 and l == 4:
    print("dog")
else:
    print("please enter valid input")

enter the number of heads: 1
enter the number of legs: 4
dog

 Write a program that will swap numbers

In [13]:
a = int(input("enter the first number: "))
b = int(input("enter the second number: "))
temp = a
a = b
b = temp
print(a)
print(b)

enter the first number: 45
enter the second number: 56
56
45

In [15]:
l = [1,2,3,4,5,7,8]
temp = l[0]
l[0] = l[-1]
l[-1] = temp
print(l)

[8, 2, 3, 4, 5, 7, 1]

In [25]:
a = int(input("enter the number: "))
b = int(input("enter the number: "))
a = a + b
b = a - b
a = a - b
print(a)
print(b)

enter the number: 56
enter the number: 45
45
56

Write a program to find the sum of first n numbers, where n will be 
provided by the user. Eg if the user provides n=10 the output should be 
55

In [18]:
n = int(input("enter the number: "))
sum = n*(n+1)/2
print(sum)

enter the number: 10
55.0

Write a program that can multiply 2 numbers provided by the user 
without using the * operator

In [19]:
a = int(input("enter the number: "))
b = int(input("enter the number: "))
pro = 0
for i in range(1,b+1):
    pro = pro + a
print(pro)

enter the number: 4
enter the number: 5
20

4.Write a program that can find the factorial of a given number provided 
by the user

In [23]:
n = int(input("enter the number: "))
fact = 1
if n<0:
    print("factorial does not exist")
if n == 0:
    print("factorial is one")
if n>1:
    for i in range(1,n+1):
         fact = fact * i
print(fact)

enter the number: 5
120

In [27]:
n = int(input("enter the number: "))
i = 1
if i>0:
    while n>=1:
        i = i * n
        n = n - 1
    print("factorial of given number is: ",i)

else:
    print("factorial is not found")

enter the number: 5
factorial of given number is:  120

Write a program to print the first 25 odd number

In [30]:
n = 40
for i in range(0,n+1):
    if i%2 == 0:
        i = i + 1
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41


Write a program to print whether a given number is prime number or 
not

In [41]:
for num in range(1,25):
    if num>1:
        for i in range(2,num):
            if num % i == 0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23

In [43]:
lower_l = int(input("enter the number: "))
upper_l = int(input("enter the number: "))
for num in range(lower_l,upper_l):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

enter the number: 2
enter the number: 90
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89

Print all the armstrong numbers in the range of 100 to 1000

In [53]:
for i in range(100,1000):
    n = i
    a = n%10
    n = n//10
    b = n%10
    c = n//10
    
    if ((a**3)+(b**3)+(c**3))==i:
        print(i)
    i = i+1

153
370
371
407

The current population of a town is 10000. The population of the town is 
increasing at the rate of 10% per year. You have to write a program to 
find out the population at the end of each of the last 10 years. For eg 
current population is 10000 so the output should be like this:
10th year - 10000
9th year - 9000
8th year - 8100 and so on

In [55]:
flag = 0
a = 10000
while True:
    b = a - ((a*10)/100)
    a = b
    print(b)
    flag = flag + 1
    
    if flag == 9:
        break

9000.0
8100.0
7290.0
6561.0
5904.9
5314.41
4782.969
4304.6721
3874.20489

In [56]:
flag = 0
a = 10000
print(a)
while True:
    b = (a)-((a*10)/100)
    a = b
    print(b)
    flag = flag + 1
    if flag == 9:
        break

10000
9000.0
8100.0
7290.0
6561.0
5904.9
5314.41
4782.969
4304.6721
3874.20489

Write a program to print all the unique combinations of 1,2,3 and 4

In [57]:
for i in range(1,5):
    for j in range(1,5):
        if i!=j:
            print(i,j)

1 2
1 3
1 4
2 1
2 3
2 4
3 1
3 2
3 4
4 1
4 2
4 3

User will provide 2 numbers you have to find the HCF of those 2 
numbers

In [59]:
a = int(input("enter the number: "))
b = int(input("enter the number: "))
while a%b != 0:
    rem = a%b
    a = b
    b = rem
    print(b)

enter the number: 3
enter the number: 4
3
1

In [60]:
a = int(input("enter the number: "))
b = int(input("enter the number: "))
while a%b != 0:
    rem = a%b
    a = b
    b = rem
    print(b)

enter the number: 6
enter the number: 8
6
2

User will provide 2 numbers you have to find the by LCM of those 2 
numbers

In [62]:
a = int(input("enter the number: "))
num_1 = a
b = int(input("enter the number: "))
num_2 = b
while num_1%num_2 !=0:
    rem = num_1%num_2
    num_1 = num_2
    num_2 = rem
    hcf = num_2
lcm = (a*b)/hcf
print("your lcm is:",lcm)

enter the number: 6
enter the number: 7
your lcm is: 42.0

.Print first 25 prime numbers

In [66]:
for num in range(0,26):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
                print(num)

2
3
5
7
11
13
17
19
23

.Print the first 20 numbers of a Fibonacci series

In [1]:
count = 0
a = 0
b = 1
print(a)
print(b)
while True:
    c = a + b
    a = b
    b = c
    print(c)
    count = count + 1
    if count == 18:
        break

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181

.Write a program to find the compound interest

In [2]:
p = int(input("enter the principle: "))
r = int(input("enter the rate of interest: "))
t = int(input("enter the time period: "))
a = p * (1+r/100)**t
print(a)
ci = a - p
print(ci)

enter the principle: 10000
enter the rate of interest: 8
enter the time period: 2
11664.000000000002
1664.0000000000018

Write a Python program that accepts an integer (n) and computes the 
value of n+nn+nnn.

In [4]:
n = int(input("enter the number: "))
print("n is: ",n)
nn = n + n
print("nn is: ",nn)
nnn = n + n + n
print("nnn is: ",nnn)
c = n + nn + nnn
print(c)

enter the number: 7
n is:  7
nn is:  14
nnn is:  21
42

.Take a number from the user and find the number of digits in it

In [4]:
n = int(input("enter your number: "))
count = 0
while n>0:
    n = n//10
    count = count+1
    print(count)

enter your number: 567
1
2
3

Print all factors of a given number provided by the user

In [10]:
n = int(input("enter the number: "))
for i in range(1,n+1):
    if n%i==0:
         print("your factorial is: ",i)

enter the number: 44
your factorial is:  1
your factorial is:  2
your factorial is:  4
your factorial is:  11
your factorial is:  22
your factorial is:  44

Find the reverse of a number provided by the user(any number of digit)

Write a program to print the following pattern
*
**
***
****
*****

In [20]:
for i in range(5):
    if i == 0:
        print("*" + " "*4)
    if i == 1:
        print("*"*2+" "*3)
    if i == 2:
        print("*"*3+" "*2)
    if i == 3:
        print("*"*4+" ")
    if i == 4:
        print("*"*5)

*
**
***
****
*****

.Write a program to print the following pattern
*
**
***

In [21]:
for i in range(5):
    if i == 0:
        print("*"+" "*2)
    if i == 1:
        print("*"*2+" ")
    if i == 2:
        print("*"*3)
    if i == 3:
        print("*"*2+" ")
    if i == 4:
        print("*"+" "*4)

*
**
***
**
*

Write a program to print the following pattern
 *
 * * *
 * * * * *
 * * * * * * *
* * * * * * * * *

In [22]:
for i in range(5):
    if i == 0:
        print(" "*4+"*"+" "*4)
    if i == 1:
        print(" "*3+"*"*3+" "*3)
    if i == 2:
        print(" "*2+"*"*5+" "*2)
    if i == 3:
        print(" "+"*"*7+" ")
    if i == 4:
        print("*"*9)

    *
   ***
  *****
 *******
*********

te a program to print the following pattern
1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [2]:
row = int(input("enter the number: "))
for i in range(1,row+1):
    for j in range(1,i+1):
        print(j,end=' ')
    for k in range(i-1,0,-1):
        print(k,end=' ')
    print(' ')

enter the number: 5
1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

Write a program to print the following pattern
1
2 3
4 5 6
7 8 9 10

In [6]:
row = int(input("enter the number: "))
num = 1
for i in range(1,row+1):
    for j in range(1,i+1):
        print(num,end= ' ')
        num = num + 1
    print(' ')

enter the number: 4
1
2 3
4 5 6
7 8 9 10

Write a program to calculate the sum of the following series till 
the nth term
1/1! + 2/2! + 3/3! + 4/4! +…….+ n/n!
n will be provided by the use

In [8]:
n = int(input("enter the number: "))

fact = 1
r = 0
for i in range(1,n+1):
    fact = fact * i
    r = r + (i/fact)
print(r)

enter the number: 5
2.708333333333333

.Write a Python Program to Find the Sum of the Series till the nth term: 
1 + x^2/2 + x^3/3 + … x^n/n
n will be provided by the use

In [9]:
x = int(input("enter the number: "))
n = int(input("enter the number: "))
s = 1
for i in range(2,n+1):
    s = s + ((x**i)/i)
print(s)

enter the number: 5
enter the number: 6
3440.583333333333

The natural logarithm can be approximated by the following series.
If x is input through the keyboard, write a program to calculate the 
sum of the first seven terms of this series

In [5]:
x = int(input("enter the number: "))
n = 7
s = (x-1)/x
for i in range(1,n+1):
    s = s + ((1/2*((x-1)/x))**i)
print(s)

enter the number: 8
1.6503916047513485

Write a program that keeps on accepting a number from the user until 
the user enters Zero. Display the sum and average of all the numbers

In [2]:
n = int(input("enter the number: "))
s = 0
c = 0
avg = 0
while True:
    if n!=0:
        s = s + n
        c = c + 1
        avg = s/c
        n = int(input("enter the another number: "))
    else:
        print("thank you")
        break
print("sum is:",s)
print("average is:",avg)

enter the number: 5
enter the another number: 6
enter the another number: 7
enter the another number: 8
enter the another number: 9
enter the another number: 0
thank you
sum is: 35
average is: 7.0

Write a program that accepts 2 numbers from the user a numerator 
and a denominator and then simplifies it
Eg if the num = 5, den = 15 the answer should be ⅓
Eg if the num = 6, den = 9 the answer should be ⅔

In [3]:
a = int(input("enter the number: "))
n1 = a
b = int(input("enter the number: "))
n2 = b
while n1%n2 != 0:
    rem = n1%n2
    n1 = n2
    n2 = rem
hcf = n2
a = a/hcf
b = b/hcf
print(a/b)

enter the number: 45
enter the number: 56
0.8035714285714286

Find the length of a given string without using the len() function.

In [4]:
s = str(input("enter your string: "))
c = 0
for i in s:
    c = c + 1
print(c)

enter your string: The quik brown fox jumps over the lazy dog
42

Extract username from a given email. 
Eg if the email is nitish24singh@gmail.com then the username 
should be nitish24singh

In [6]:
email = str(input("enter your email: "))
username,mail = email.split('@')
print(username)

enter your email: adisartape19149@gmail.com
adisartape19149

Count the frequency of a particular character in a provided string. Eg 
'hello how are you' is the string, the frequency of h in this string is 2.

In [1]:
a = str(input("enter your string: "))
b = str(input("enter your character: "))
c = 0
for i in a:
    if b in i:
        c = c + 1
print("character occurane: ",c)

enter your string: the quick brown fox jumps over the lazy dog
enter your character: u
character occurane:  2

Find the index position of a particular character in another string.

In [10]:
a = str(input("enter your string: "))
b = str(input("enter your character: "))
print(a.index(b))

enter your string: the quick brown fox jumps over the lazy dog
enter your character: o
12

Count the number of vowels in a string provided by the user

In [13]:
s = str(input("enter the string: "))
o = "IAEOUiaeou"
c = 0
for i in s:
    if i in o:
        c = c + 1
print(c)

enter the string: How are you
5

Write a program which can remove a particular character from a string.

In [14]:
s = input("enter your string: ")
n = int(input("enter the number: "))
a = s[0:n-1]
b = s[n:]
print(a + b)

enter your string: aditya
enter the number: 4
adiya

Write a program that can check whether a given string is palindrome or 
not

In [16]:
a = input("enter your string: ")
r = ''
for i in range(len(a)-1,-1,-1):
    r = r + a[i]
print(r)
if r == a:
    print("palindrome")
else:
    print("not palindrome")

enter your string: how
woh
not palindrome

Write a python program to remove all the duplicates from a lis

In [17]:
l = [1,2,3,4,5,77,7,8,9,6,7,4,5,78,2,1]
l1 = []
for i in l:
    if i not in l1:
        l1.append(i)
print(l1)

[1, 2, 3, 4, 5, 77, 7, 8, 9, 6, 78]

Write a python program to convert a string to title case without using 
the title()

In [18]:
a = input("enter your string: ")
b = a.split()
print(b)
r = ''
for i in b:
    r = r + i[0].upper() + i[1:].lower()+' '
print(r)

enter your string: the quick brown fox jumps over the lazy dog
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
The Quick Brown Fox Jumps Over The Lazy Dog

In [19]:
a = input("enter the string: ")
b = a.split()
print(b)
r = ''
for i in b:
    r = r + i[0].lower()+i[1:].upper()+' '
print(r)

enter the string: the quick brown fox jumps over the lazy dog
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
tHE qUICK bROWN fOX jUMPS oVER tHE lAZY dOG

Write a python program to find the max item from a list without using 
the max function

In [25]:
l = [1,78,54,34,56,3]
m = l[0]
for i in l:
    if i>m:
        m = i
print("max number is: ",m)

max number is:  78

In [27]:
l = [56,78,3,456,7,32,35,32255,677,8]
max = l[0]
for i in l:
    if i>max:
        max = i
print("max is: ",max)

max is:  32255

Write a python program to reverse a lis

In [29]:
l = [56,78,3,456,7,32,35,32255,677,8]
l.reverse()
print(l)

[8, 677, 32255, 35, 32, 7, 456, 3, 78, 56]

In [31]:
l = [56,78,3,456,7,32,35,32255,677,8]
l[::-1]

[8, 677, 32255, 35, 32, 7, 456, 3, 78, 56]

In [32]:
l = [56,78,3,456,7,32,35,32255,677,8]
rev = []
for i in range(len(l)-1,-1,-1):
    rev.append(l[i])
print(rev)

[8, 677, 32255, 35, 32, 7, 456, 3, 78, 56]

Write a python program to search a given number from a lis

In [36]:
l = [56,78,3,456,7,32,35,32255,677,8]
l1 = []
n = int(input("enter number u want to search: "))
for i in l:
    if i == n:
        l1.append(i)
print(l1)

enter number u want to search: 32255
[32255]

Write a program that can create a new list from a given list where each 
item in the new list is square of the item of the old list

In [37]:
l = [1,2,3,4,5,6,7]
l1 = []
for i in l:
    l1.append(i**2)
print(l1)

[1, 4, 9, 16, 25, 36, 49]

Write a program that can reverse words of a given string.
Eg if the input is Hello how are you
Output should be you are how Hello

In [45]:
s = "Eg if the input is Hello how are you Output should be you are how Hello"
t = s.split()
print(t)
rev = []
for i in range(len(t)-1,-1,-1):
    rev.append(t[i])
y = ' '.join(rev)
print(y)

['Eg', 'if', 'the', 'input', 'is', 'Hello', 'how', 'are', 'you', 'Output', 'should', 'be', 'you', 'are', 'how', 'Hello']
Hello how are you be should Output you are how Hello is input the if Eg

In [44]:
s = 'the quick brown fox jumps over the lazy dog'
t = s.split()
print(t)
rev = []
for i in range(len(t)-1,-1,-1):
    rev.append(t[i])
y = ' '.join(rev)
print(y)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
dog lazy the over jumps fox brown quick the

Write a program that can count the number of words in a given string

In [46]:
a = input("enter string: ")
c = 0
for i in a:
    if i == ' ':
        c = c + 1
word = c + 1
print(word)

enter string: the quick brown fox jumps over the lazy dog
9

In [48]:
a = input("enter your string: ")
c = 0
for i in a:
    if i == ' ':
        c = c + 1
word = c + 1
print(word)

enter your string: how are you
3

Write a program to check if a list is in ascending order or not

In [57]:
l = [56,78,3,456,7,32,35,32255,677,8]
f = 0
for i in range(0,len(l)-1):
    if l[i]>=l[i+1]:
     f = 1
     break
if f == 0:
    print("sorted")
else:
    print("not sorted")

not sorted

In [58]:
l = [1,2,3,4,5,6,7,8]
f = 0
for i in range(0,len(l)-1):
    if l[i]>=l[i+1]:
        f = 1
        break
if f == 0:
    print("sorted")
else:
    print("not sorted")

sorted

In [59]:
l = [5,6,7,3,2,35]
f = 0
for i in range(0,len(l)-1):
    if l[i]>=l[i+1]:
        f = 1
        break
if f == 0:
    print("sorted")
else:
    print("not sorted")

not sorted

Create 2 lists from a given list where 1st list will contain all the odd 
numbers from the original list and the 2nd one will contain all the even 
numbers

In [60]:
l = [2,3,4,5,6,7,8,9]
l1 = []
l2 = []
for i in l:
    if i%2 == 0:
        l1.append(i)
    if i%2 !=0:
        l2.append(i)
print(l1)
print(l2)

[2, 4, 6, 8]
[3, 5, 7, 9]

Write a program to merge 2 list without using the + operato

In [61]:
l1 = [1,2,3,4,5]
l2 = [6,7,8,9]
l = l1 + l2
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [63]:
l1 = [1,2,3,4,5]
l2 = [6,7,8,9]
l = []
for i in l1:
    l.append(i)
for j in l2:
    l.append(j)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Write a program to replace an item with a different item if found in the 
list

In [67]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9]
f = int(input("enter the number: "))
r = int(input("enter the number: "))
for i in range(0,len(l)-1):
    if f == l[i]:
        l[i] = r
        print(l)
        break 
else:
    print("not found")

enter the number: 0
enter the number: 9
not found

Write a program that can convert a 2D list to 1D list

In [1]:
l = [1,2,3,4,5,6,[34,5,63,54,33]]
l1 = []
for i in l:
    if type(i)==list:
        l1.extend(i)
    else:
        l1.append(i)
    
print(l1)

[1, 2, 3, 4, 5, 6, 34, 5, 63, 54, 33]

Write a program that can perform union and intersection on 2 given list.

In [6]:
l1 = [1,2,3,4,5,6]
l2 = [4,5,6,7,8,9,10]
u = []
inte = []
for i in l1:
    if i not in u:
        u.append(i)
for j in l2:
    if j not in u:
        u.append(j)
for k in l1:
    if k in l2:
        inte.append(k)
print("union is: ",u)
print("intersection: ",inte)

union is:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
intersection:  [4, 5, 6]

Write a program that can print the max item of each row of a matrix.

In [9]:
m = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
for i in m:
    max = i[0]
    for j in i:
        if j>max:
         max = j
    print(max)

3
6
9

In [16]:
m =[[88,99,55],
    [110,676,5],
    [345,56,778]]
for i in m:
    if i[0]>max:
        for j in i:
           if j>max:
            max = j
    print(max)

676
676
676

Write a program that can convert an integer to string.

In [17]:
n = int(input("enter the number: "))
print(str(n))

enter the number: 45
45

Write a program to print the shape of a matrix.

matrix = [
    [1,2,3,20],
    [4,5,6,56],
    [7,8,9,98],
    [10,11,12,99]
]

In [18]:
matrix = [
    [1,2,3,20],
    [4,5,6,56],
    [7,8,9,98],
    [10,11,12,99]
]
row = 0
for i in matrix:
    row = row + 1
print("shape of matrix is: ",row,"*",len(i))

shape of matrix is:  4 * 4

Write a program that can check if you can perform matrix 
multiplication on 2 matrices

In [22]:
m_1 = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
r_1=0
for i in m_1:
    r_1 = r_1+1
    c_1 = len(i)
    print("m_1: ",i)
print("row: ",r_1)
print("column: ",c_1)
m_2 = [
    [1,2,3,20],
    [4,5,6,56],
    [7,8,9,98],
    [10,11,12,99]]
r_2=0
for j in m_2:
    r_2 = r_2 + 1
    c_2 = len(j)
    print("m_2: ",j)
print("row: ",r_2)
print("col: ",c_2)
if c_1 == r_2:
    print("multiplication is possible")
else:
    print("multiplication not possible")

m_1:  [1, 2, 3]
m_1:  [4, 5, 6]
m_1:  [7, 8, 9]
row:  3
column:  3
m_2:  [1, 2, 3, 20]
m_2:  [4, 5, 6, 56]
m_2:  [7, 8, 9, 98]
m_2:  [10, 11, 12, 99]
row:  4
col:  4
multiplication not possible

Write a program to perform matrix multiplication on 2 matrices

In [2]:
a = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]


    
b = [
    [1,2,3],
    [4,5,6],
    [7,8,9]]

result =[[0,0,0],
        [0,0,0],
        [0,0,0]]

for i in range(len(a)):
    for j in range(len(b[0])):
        for k in range(len(b)):
            result[i][j] += a[i][k]*b[j][k]
for i in result:
    print(i)

[14, 32, 50]
[32, 77, 122]
[50, 122, 194]

In [16]:
a = [[34,3,4],
     [6,78,8],
     [88,76,43]]
b = [[2,3,8],
    [34,56,9]
     ,[7,8,9],
     ]
r = [[0,0,0],
     [0,0,0],
     [0,0,0],]
for i in range(len(a)):
     for j in range(len(b[0])):
        for k in range(len(b)):
         r[i][j] +=a[i][k]*b[j][k]
for i in r:
     print(i)

[109, 1360, 298]
[310, 4644, 738]
[748, 7635, 1611]

Write a program that can sort a given unsorted list. Dont use any built in 
function for sorting.

In [17]:
l = [6,7,45,6,32,4]
for i in range(len(l)):
    for j in range(0,len(l)-1):
        if l[j]>l[j+1]:
            temp = l[j]
            l[j] = l[j+1]
            l[j+1] = temp
print(l)

[4, 6, 6, 7, 32, 45]

Write a program that can find the most used word in a bollywood song

In [19]:
string = input("enter your string: ")
s = string.split()
c = 0
for i in s:
    if len(i)>1:
        c = c + 1
print(i)
print(c)

enter your string: Hum Tere Bin Ab Reh Nahi Sakte Tere Bina Kya Wajood Mera Hum Tere Bin Ab Reh Nahi Sakte Tere Bina Kya Wajood Mera  Tujhse Juda Agar Ho Jayenge Toh Khud Se Hi Ho Jayenge Juda  Kyunki Tum Hi Ho Ab Tum Hi Ho Zindagi Ab Tum Hi Ho Chain Bhi Mera Dard Bhi Meri Aashiqui Ab Tum Hi Ho  Tera Mera Rishta Hai Kaisa Ik Pal Door Gawara Nahi Tere Liye Har Roj Hai Jeete Tujhko Diya Mera Waqt Sabhi  Koyi Lamha Mera Na Ho Tere Bina Har Saans Pe Naam Tera  Kyunki Tum Hi Ho Ab Tum Hi Ho Zindagi Ab Tum Hi Ho Chain Bhi Mera Dard Bhi Meri Aashiqui Ab Tum Hi Ho  Tumhi Ho Tumhi Ho  Tere Liye Hi Jiya Main Khud Ko Jo Yun De Diya Hai Teri Wafa Ne Mujhko Sambhala Saare Ghamon Ko Dil Se Nikala  Tere Sath Mera Hai Naseeb Juda Tujhe Paake Adhoora Na Raha Hmm..  Kyunki Tum Hi Ho Ab Tum Hi Ho Zindagi Ab Tum Hi Ho Chain Bhi Mera Dard Bhi Meri Aashiqui Ab Tum Hi Ho  Kyunki Tum Hi Ho Ab Tum Hi Ho Zindagi Ab Tum Hi Ho Chain Bhi Mera Dard Bhi Meri Aashiqui Ab Tum Hi Ho
Ho
204

Assume a list with numbers from 1 to 10 and then convert it into a 
dictionary where the key would be the numbers of the list and the 
values would be the square of those numbers

In [20]:
l = [1,2,3,4,5,6,7,8,9,10]
d = {}
for i in l:
    d[i] = i**2
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

Write a program to merge two given dictionary

In [22]:
d1 = {"a":1,"b":2}
d2 = {"c":3,"d":4}
d = {}
for i in d1:
    d[i] = d1[i]
for j in d2:
    d[j] = d2[j]
print(d)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [23]:
d1 = {"a":1,"b":2}
d2 = {"c":3,"d":4}
print(d1 | d2)
print({**d1,**d2})

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'a': 1, 'b': 2, 'c': 3, 'd': 4}

Write a program to swap the key value pair for max and min values
Eg if the dict is like this {‘a’:1,’b’:2,’c’:3}
Output should be {a:3,b:2,c:1}

In [28]:
d = {"a":100,"b":200,"c":300,"d":400}
max_val=max(d.values())
min_val=min(d.values())
for i in d:
    if d[i]==max_val:
        print(d[i])
        break
for j in d:
    if d[j]==min_val:
        print(d[j])
        break
d[i] = min_val
d[j] = max_val
print(d)

400
100
{'a': 400, 'b': 200, 'c': 300, 'd': 100}

Write a program to find histogram of a given set of numbers. Take bin 
size from user. Print the result in the form of a dictionary

Write a function that accepts a string and returns the number of upper 
case chars and lower case chars as a dictionary

In [7]:
s = input("enter your string: ")
u_s = 0
l_s = 0
for i in s:
    if (i.isupper()):
        u_s = u_s + 1
    elif (i.islower()):
        l_s = l_s + 1
print(u_s)
print(l_s)

enter your string: The Quick Brown Fox Jumps Over The Lazy Dog
9
26

Write a function that accepts a list of strings and performs Bag of words 
and convert it to numerical vectors.
https://en.wikipedia.org/wiki/Bag-of-words_model

In [8]:
def bow(sentences):
    vocab = []
    for i in sentences:
        vocab.extend(i.split())
    
    vocab = list(set(vocab))
    
    vector2d = []
    for sentence in sentences:
        vector = []
        
        for word in vocab:
            vector.append(sentence.count(word))
        vector2d.append(vector)
    return vector2d
sentences = ["hello how are you",
             "hello what are you doing",
             "where are you now",
             "what is plan for today",
             "are you ready to travel"
    
]
bow(sentences)

[[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0],
 [0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1],
 [0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0],
 [1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1],
 [0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0]]

Write a dummy program that can perform login and registration using 
a menu driven program

In [2]:
database = {}

def user_menu():
    user_input = input('''
    1.enter 1 to register
    2.enter 2 to login
    3.enter 3 to exit
    ''')
    if user_input == "1":
        register()
    elif user_input == "2":
        login()
    else:
        print("bye")
def register():
    name = input("enter your name: ")
    email = input("enter your email: ")
    password = input("enter your password: ")
    database[email] = [name,password]
    print("registration succesful")
    print()
    user_menu()
def log_in():
    email = input("enter your email: ")
    password = input("enter your password: ")
    flag = 0
    
    for i in database:
        if email == i:
            flag = 1
            if password == database[i][1]:
                print("welcome")
            else:
                print("incorrect credentials")
    if flag == 0:
        print("email not found")
user_menu()

    1.enter 1 to register
    2.enter 2 to login
    3.enter 3 to exit
    1
enter your name: aditya sartape
enter your email: ad44@gmail.com
enter your password: 12345678
registration succesful


    1.enter 1 to register
    2.enter 2 to login
    3.enter 3 to exit
    3
bye

Write a program that accepts neighbors(set of 2D co-ordinates) and a 
point(single 2D co-ordinate) and tells nearest neighbor(in terms of 
euclidean distance)

Write a function that accepts a number and returns it’s factorial. You 
can not use any loop

In [3]:
def fact(number):
    if number == 1:
        return 1
    else:
        return number*fact(number-1)
fact(6)

720

WAP to find characters in the string without using buildin function

In [5]:
s = input("enter your string: ")
w = s.split()
c = 0
for i in w:
    c = c + 1
print(c)

enter your string: the quick brown fox jumps over the lazy dog
9

WAP to find length of the list and find the product of length will all elements and get the roundof summation

In [7]:
l=[22.4, 4.0, -16.22, -9.1, 11.0, -12.22, 14.2, -5.2, 17.5]
c=0
for i in l:
    i = i*len(l)
    c = c + i
print(c)

237.24

WAP to count the number of sublists that contain a particular element.

In [11]:
l=[[1, 3], [5, 7], [1, 11], [1, 15, 7]]
n = int(input("enter the number: "))
c = 0
for i in l:
    for j in i:
        if n == j:
            c = c + 1
print(c)

enter the number: 7
2

In [6]:
l=[[1, 3], [5, 7], [1, 11], [1, 15, 7]]
c = 0
for i in l:
    for j in i:
        print(j)

1
3
5
7
1
11
1
15
7

WAP to convert list into integer

In [8]:
res= [22.4, 4.0, -16.22, -9.1, 11.0, -12.22, 14.2, -5.2, 17.5]
l = []
for i in res:
    l.append(int(i))
print(l)

[22, 4, -16, -9, 11, -12, 14, -5, 17]

WAP to seperate the string and interger from the given list

In [10]:
p=[1, 'abcd', 3, 1.2, 4, 'xyz', 5, 'pqr', 7, -5, -12.22]
string = []
integer = []
for i in p:
    if type(i)==str:
        string.append(i)
    if type(i)==int:
        integer.append(i)
print(string)
print(integer)

['abcd', 'xyz', 'pqr']
[1, 3, 4, 5, 7, -5]

WAP to convert given list into single list

In [13]:
res= [0, 10, [20, 30], 40, 50, [60, 70, 80], [90, 100, 110, 120]]
l = []
for i in res:
    if type(i)==list:
        l.extend(i)
    else:
        l.append(i)
print(l)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120]

 WAP to select invalid statement

In [14]:
abc=123
a=b=c=456
abc=123
a_b_c=123
print(abc)

123

WAP to add 5 to the every element in the list

In [16]:
res=[22.4, 4.0, 16.22, 9.1, 11.0, 12.22, 14.2, 5.2, 17.5]
for i in range(len(res)):
    res[i] = res[i] + 5
print(res)

[27.4, 9.0, 21.22, 14.1, 16.0, 17.22, 19.2, 10.2, 22.5]

WAP to get unique elements from the given list

In [18]:
res=[[1, 2, 3, 5], [2, 3, 5, 4], [0, 5, 4, 1], [3, 7, 2, 1], [1, 2, 1, 2]]
l = []
for i in res:
    if type(i)==list:
        l.extend(i)
    else:
        l.append(i)
print(l)
l2 = []
for j in l:
    if j not in l2:
        l2.append(j)
print(l2)

[1, 2, 3, 5, 2, 3, 5, 4, 0, 5, 4, 1, 3, 7, 2, 1, 1, 2, 1, 2]
[1, 2, 3, 5, 4, 0, 7]

In [19]:
res=[[1, 2, 3, 5], [2, 3, 5, 4], [0, 5, 4, 1], [3, 7, 2, 1], [1, 2, 1, 2]]
l = []
for i in res:
    if type(i)==list:
        l.extend(i)
    else:
        l.append(i)
L = set(l)
print(L)

{0, 1, 2, 3, 4, 5, 7}

 WAP to find the difference between two list

In [22]:
l1= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l2=[2, 4, 6, 8]
p = set(l1)-set(l2)
print(list(p))

[1, 3, 5, 7, 9, 10]

WAP to find the cumulative sum of the given list

In [23]:
l=[22, 4, -16, -9, 11, -12, 14, -5, 17]
l2 = []
c = 0
for i in range(len(l)):
    c = c + l[i]
    l2.append(c)
print(l2)

[22, 26, 10, 1, 12, 0, 14, 9, 26]

##Return the "centered" average of an array of ints, which we'll say is the mean average of the values, except ignoring the
##largest and smallest values in the array. If there are multiple copies of the smallest value,
##ignore just one copy, and likewise for the largest value. Use int division to produce the final average.
##You may assume that the array is length 3 or more.
##centered_average([1, 2, 3, 4, 100]) → 3
##centered_average([1, 1, 5, 5, 10, 8, 7]) → 5
##centered_average([-10, -4, -2, -4, -2, 0])

In [25]:
def centered_avg(l):
    a = max(l)
    b = min(l)
    l.remove(a)
    l.remove(b)
    c = 0
    s = 0
    for i in l:
        c = c + i
        s = s +1
    centered_avg = c/s
    return centered_avg

centered_avg([1, 2, 3, 4, 100])

3.0

##Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 7
##(every 6 will be followed by at least one 7). Return 0 for no numbers.
##
##
##sum67([1, 2, 2]) → 5
##sum67([1, 2, 2, 6, 99, 99, 7]) → 5
##sum67([1, 1, 6, 7, 2]) → 4

In [28]:
def sum_l(l):
    s = 0
    a = l.index(6,0)
    b = l.index(7,0)
    del l[a:b+1]
    for i in l:
        s = s + i
    return s
print(sum_l([1, 2, 2, 6, 99, 99, 7]))

5

 WAP to get aplhabets from the given string

In [32]:
s=" A%^!B#*CD"
c = ''
for i in s:
    if i.isalpha():
        c = c + i
print(c)

ABCD

Without using builtin function find len of the string

In [33]:
s = "hey aditya how are you"
c = 0
for i in s:
    c = c + 1
print(c)

22

From the given string vowel have to be converted into upper and remaining element should be lower

In [37]:
s="the dog is barking"
s1=""
o = "iaeouIAEOU"
for i in s:
    if i in o:
        s1 = s1 + i.upper()
    else:
        s1 = s1 + i.lower()
print(s1)

thE dOg Is bArkIng

reverse the string wiyhout using builtin funtion

In [38]:
p=[10,20,30,40,50]
p[::-1]

[50, 40, 30, 20, 10]

move 0 to the right side of the string and remaing numbers to the left of the string then add them using indexing

In [40]:
L=[3,4,0,0,8,0,9,5,0,4,8,0,0,2,0,1,0,0]
a = []
b = []
for i in L:
    if i == 0:
        a.append(i)
    else:
        b.append(i)
c = b + a
print(c)

[3, 4, 8, 9, 5, 4, 8, 2, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]

remove repeated numbers from given list

In [41]:
p=[0,0,1,2,3,4,5,3,4,6,7,3,5]
print(list(set(p)))

[0, 1, 2, 3, 4, 5, 6, 7]

In [46]:
p=[0,0,1,2,3,4,5,3,4,6,7,3,5]
l = []
for i in p:
    if i not in l:
        l.append(i)
print(l)

[0, 1, 2, 3, 4, 5, 6, 7]

move str to the left side and digits to the right side

In [47]:
res=[2,'abcd',3,1.2,4,'xyz',5,'pqr',7,-5,-12.22]
a = []
b = []
for i in res:
    if type(i)==str:
        a.append(i)
    else:
        b.append(i)
        c = a + b
print(c)

['abcd', 'xyz', 'pqr', 2, 3, 1.2, 4, 5, 7, -5, -12.22]

WAP to create a sublist for each element in the given list

In [54]:
L=[0,0,1,2,3,4,4,5,6,6,6,7,8,9,4,4]
G=[]#c=Group
CG=[]#CG=Current Group
PE=0 #PE=Previous Element

for i in L:
    if i==PE:
        CG.append(i)
    else:
        if CG:
            G.append(CG)
        CG=[i]
    PE=i
    
if CG:
    G.append(CG)

output=G
print(output)

[[0, 0], [1], [2], [3], [4, 4], [5], [6, 6, 6], [7], [8], [9], [4, 4]]

In [1]:
L=[0,0,1,2,3,4,4,5,6,6,6,7,8,9,4,4]
g = []
cg = []
pe = 0
for i in L:
    if i==pe:
        cg.append(i)
    else:
        if cg:
            g.append(cg)
        cg = [i]
    pe = i
if cg:
    g.append(cg)
print(g)

[[0, 0], [1], [2], [3], [4, 4], [5], [6, 6, 6], [7], [8], [9], [4, 4]]

In [4]:
l=[0,0,1,2,3,4,4,5,6,6,6,7,8,9,4,4]
g = []
cg = []
pe = 0
for i in l:
    if i==pe:
        cg.append(i)
    else:
        if cg:
            g.append(cg)
        cg = [i]
    pe = i
if cg:
    g.append(cg)
print(g)

[[0, 0], [1], [2], [3], [4, 4], [5], [6, 6, 6], [7], [8], [9], [4, 4]]

#Return the number of times that the string "code" appears anywhere in the given string, except we'll accept any letter for the 'd', so "cope" and "cooe" count. 
#count_code='aaacodebbb' 
#count_code='codexxcode' 
#count_code='cozexxcope'

In [55]:
def count_code(s):
    p='code'
    current=''
    count=0
    L=[]
    for i in s:
        if i in p:
            current+=i
        else:
            L.append(current)
        current=''
    for i in L:
        if i==current:
            count+=1
    print(count)
         
print(count_code('codexxcode'))

2
None

#Return the number of times that the string "hi" appears anywhere in the given string. 
#count_hi='abc hi ho'
#count_hi('ABChi hi') 
#count_hi('hihi')

In [49]:
def count_hi(string):
    return string.count("hi")
count_hi('ABChi hi')

2

#Return the number of times that the string "code" appears anywhere in the given string, except we'll accept any letter for the 'd', so "cope" and "cooe" count.  
#count_code('aaacodebbb') → 1  
#count_code('codexxcode') → 2  
#count_code('cozexxcope') → 2

In [50]:
def count_code(string):
    return string.count("code")
count_code('aaacodebbb')

1

#WAF to have said output double_char('The') → 'TThhee'
#double_char('AAbb') → 'AAAAbbbb'
#double_char('Hi-There') → 'HHii--TThheerree'''

In [51]:
def double_char(string):
    s1 = ""
    for i in string:
        s1 = s1 + i*2
    return s1
double_char('AAbb')

'AAAAbbbb'

 Given a string and a non-negative int n, return a larger string that is n copies of the original string.


 string_times('Hi', 2) → 'HiHi'
 string_times('Hi', 3) → 'HiHiHi'
 string_times('Hi', 1) → 'Hi'

In [53]:
def c(array,n):
    s = array * n
    return s
c('Hi', 3)

'HiHiHi'

Sorting list without using functions

In [56]:
l = [6,7,45,6,32,4]
for i in range(len(l)):
    for j in range(0,len(l)-1):
        if l[j]>l[j+1]:
            temp = l[j]
            l[j] = l[j+1]
            l[j+1] = temp
print(l)

[4, 6, 6, 7, 32, 45]

 Given a list of integers, write a Python function that calculates the product of all the elements except the one at the current index

input : [1, 2, 3, 4]
output : [24, 12, 8, 6]

In [57]:
#Write a Python function to determine the maximum profit that can be made during a week of trading with the given stock prices, 
#assuming that there are no restrictions on the number of transactions that can be made?

#Input : price = [10, 6, 12, 5, 4, 2, 1]
#Output : 6

#Input : price = [1, 2, 5, 7, 4, 5, 3, 2, 1]
#Output : 7

In [7]:

def maxProfit(price, start, end):
 
    # If the stocks can't be bought
    if (end <= start):
        return 0;
 
    # Initialise the profit
    profit = 0;
 
    # The day at which the stock
    # must be bought
    for i in range(start, end, 1):
 
        # The day at which the
        # stock must be sold
        for j in range(i+1, end+1):
 
            # If buying the stock at ith day and
            # selling it at jth day is profitable
            if (price[j] > price[i]):
                 
                # Update the current profit
                curr_profit = price[j] - price[i] + maxProfit(price, start, i - 1)+ maxProfit(price,  j + 1, end);
 
                # Update the maximum profit so far
                profit = max(profit, curr_profit);
 
    return profit;
 
# Driver code
if __name__ == '__main__':
    price =  [1, 2, 5, 7, 4, 5, 3, 2, 1]
    n = len(price);
    print(maxProfit(price, 0, n - 1));

7

Suppose you need to collect and print data from IMDb (http://www.imdb.com/chart/) top 25 Movies page. 
Write a program in Python for doing so.

In [58]:
#Write a Python program that rotates an array by two positions to the
#right: list = [6, 86, 4, 86, 24, 75]
#required list = [24, 75, 6, 86, 4, 86]

In [1]:

def rotate_array_by_two(l):
    if len(l) <= 2:
        return l
    
    rotated_list = l[-2:] + l[:-2]
    return rotated_list

# Input array
original_list = [6, 86, 4, 86, 24, 75]

# Rotate the array by two positions to the right
rotated_list = rotate_array_by_two(original_list)

# Print the rotated array
print(rotated_list)

[24, 75, 6, 86, 4, 86]

Three unbiased coins are tossed. What is the probability of getting max of two heads?

If there is 2 GB .text  file , how will you write python code for counting no. Of occurrences of each digit in that file?? Write script

Write code to get most frequent character and it's no. Of occurrence from any string.

In [ ]:
string = input("enter your string: ")
s = string.split()
c = 0
for i in s:
    if len(i)>1:
        c = c + 1
print(i)
print(c)

 Write code and explain hybrid inheritance and create objects .

Write code to get count of occurrence of substring from file using regular expression

Input - 'aaaaabbbccdddeeeee' Output - 'a5b3d3e5'

In [1]:
def compress_string(s):
    if not s:
        return ""

    compressed_string = ""
    current_char = s[0]
    char_count = 1

    for i in range(1, len(s)):
        if s[i] == current_char:
            char_count += 1
        else:
            compressed_string += current_char + str(char_count)
            current_char = s[i]
            char_count = 1

    compressed_string += current_char + str(char_count)

    return compressed_string

input_str = 'aaaaabbbccdddeeeee'
output_str = compress_string(input_str)
print(output_str)  # Output: 'a5b3c2d3e5'

a5b3c2d3e5

In [2]:
def compress_string(s):
    res = ""
    current_char = s[0]
    count = 1

    for i in range(1, len(s)):
        if s[i] == current_char:
            count += 1
        else:
            res = res + current_char + str(count)
            current_char = s[i]
            count = 1

    res = res + current_char + str(count)
    return res

input_str = 'aaaaabbbccdddeeeee'
output_str = compress_string(input_str)
print(output_str)

a5b3c2d3e5

In [3]:
from itertools import groupby

input_str = 'aaaaabbbccdddeeeee'
output_str = ''.join(c + str(len(list(g))) for c, g in groupby(input_str))
print(output_str)

a5b3c2d3e5

 Program for list comprehension

In [10]:
l = [i for i in range(100) if i%2==0]
print(l)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]